//
// Map
// --------------------------------------------------


// Base class
.map {
  height: 100%;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: -2;
}

a[title='Click to see this area on Google Maps'] {
  display: none !important;
}

.gmnoscreen,
.gmnoprint {
  display: none;
}

// Cloud Layer
.map > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  opacity: 0.03;
}
