//
// Team Member Marker
// --------------------------------------------------


// Animations
// --------------------------------------------------

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(3);
  }
}

// Base styles
// --------------------------------------------------

.marker-team-member {
  border: 2px solid $white;
  border-radius: 50%;
  content: '';
  display: block;
  height: 9px;
  margin-left: -4.5px;
  margin-top: -4.5px;
  position: absolute;
  transition: all 600ms cubic-bezier(.23, 1, .32, 1);
  transition-property: border-color;
  width: 9px;

  &.active {
    border-color: $gold;

    &::before {
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-name: pulse;
      background-color: $gold;
      border-radius: 50%;
      content: '';
      display: block;
      height: 9px;
      margin-left: -2px;
      margin-top: -2px;
      opacity: 0;
      transform: translate3d(0, 0, 0);
      width: 9px;
    }
  }
}
