<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Planimeter</title>
    <base href="/">
    <meta name="description" content="Development, Design International">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/odometer/themes/odometer-theme-minimal.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/about.css">
    <!-- endbuild -->
  </head>
  <body data-ng-app="publicApp" data-ng-controller="RootCtrl">
    <div class="grid-flicker background">
    </div>
    <header data-ng-include="'views/partials/header.html'"
            role="navigation"
            class="fade header">
    </header>
    <main id="{{routeName}}">
      <div class="main container" data-ng-view="">
      </div>
    </main>
    <footer data-ng-include="'views/partials/footer.html'"
            class="fade footer">
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-3085795-5');
      ga('send', 'pageview');
    </script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/async/lib/async.js"></script>
    <script src="bower_components/gsap/src/uncompressed/TweenMax.js"></script>
    <script src="bower_components/lazy.js/lazy.js"></script>
    <script src="bower_components/odometer/odometer.js"></script>
    <script src="bower_components/angular-odometer-js/dist/angular-odometer.js"></script>
    <script src="bower_components/angular-scrollto/angular-scrollto.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/root.js"></script>
    <script src="scripts/directives/header.js"></script>
    <script src="scripts/directives/navlink.js"></script>
    <script src="scripts/directives/footer.js"></script>
    <script src="scripts/directives/main.js"></script>
    <script src="scripts/directives/about.js"></script>
    <script src="scripts/directives/background.js"></script>
    <script src="scripts/directives/gridflicker.js"></script>
    <script src="scripts/directives/spy.js"></script>
    <script src="scripts/directives/toggle.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/directives/map.js"></script>
    <script src="scripts/directives/teammember.js"></script>
    <!-- endbuild -->
</body>
</html>
