<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <section class="about fade">
      <h1>
        Hello. We are Planimeter.<br>
        <small><em>Excellence by Design</em></small>
      </h1>
      <div class="col-sm-4 col-md-3 col-lg-2 list-group">
        <a href
           class="list-group-item team-member"
           data-ng-repeat="member in team"
           data-latlng="{{member.latlng}}"
           data-ng-class="{'active': focusedMember === member}"
           data-ng-click="focus(member)">
          {{member.name}}
          <span class="label label-primary pull-right" data-ng-if="member.new">New</span>
        </a>
      </div>
    </section>
  </body>
</html>
